sudo: false
language: python
python:
  - "2.7"
  - "3.5"
  - "3.6"

cache:
  - ccache
  - directories:
      - $HOME/.ccache

# command to install dependencies
install:
  - pip install -r requirements.txt
  - pip install tox-travis
# command to run tests
script: tox
# Configure email notifications
notifications:
  email: false
